section {
    display:flex;
    flex-direction:column;
    width:70vw;
}
div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:4vh 0;
}
img:hover{
    transform: scale(1.1);
    transition:0.7s;
    cursor:pointer;
}